@charset "UTF-8";

:root {
    --cor01: #418EF2;
    --cor02: #224D73;
    --cor03: #011624;
    --cor04: #E2DEBF;
    --cor05: #825834;
    --cor06: #aab0b8;
    --cor07: #ffffff;
    /* degrade*/
    --deg1: #02182A;
    --deg2: #408AF5;
    --deg3: #0B2042;
}

.flex {
    display: flex;
}

/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: var(--deg1);
}

body {
    background-color: var(--cor03);
    height: 100vh;
}

.imglogo {
    width: 200px;
    border: 0;
    box-shadow: 6px var(--cor01);
    border-radius: 30px;
}

.imglogo2 {
    display: none;  
}

.logoparoquia{
    color: var(--cor01);    
    text-align: center;
    text-transform: uppercase;
    gap: 4%;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18;
    font-weight: 600;
    background-color: var(--cor01);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: var(--cor03);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--cor01);
}


h3.titulo {
    color: var(--cor03);
    font-size: 38px;
    text-align: center;
}

h3.titulo span {
    color: var(--cor01);
}

.secretariacuria p {
    color: var(--cor03);
    text-align: center;
    background-color: #408AF5;
}

button:hover {
    border-bottom: 0px 0px 10px var(--deg2);
    transform: scale(1.05);
}

/* FIM ESTILO GERAL*/

/* ESTILO DO CABEÇALHO */
header {
    padding: 30px 4%;
    padding-bottom: 10px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--cor01);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 8px;
}

/* FIM ESTILO DO CABEÇALHO */

/* ESTILO DO TOPO DO SITE*/
section.topo-do-site {
    background-color: var(--cor06);
    box-shadow: 0 0 10px var(--cor01);
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site .atend{
    background-color: var(--cor07);
    box-shadow: 0 0 10px var(--cor01);
    padding: 40px 8%;
    gap: 10%;
    justify-content: center;
    text-align: center;
}

section.topo-do-site .atend h1 span{
    color: var(--cor01);
}

    section.topo-do-site .atend p{
        font-size: 20px;
    }

    section.topo-do-site .atend i{
        color: var(--deg2);
        font-size: 50px;
    }

.topo-do-site h1 {
    color: var(--cor03);
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--deg2);
}

.topo-do-site .txt-topo-site p {
    font-size: 18px;
    margin: 40px 0;
}

.topo-do-site .img-top-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 30px;
    }
}

/* FIM ESTILO DO TOPO DO SITE*/

/* ESTILOS DAS ESPECIALIDADES*/
section.especialidade {
    background-color: var(--cor06);
    box-shadow: 0 0 10px var(--cor01);
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px 0%;
}

section.especialidade .flex {
    text-align: center;
    gap: 60px;
}

.especialidade .especialidade-box {
    background-color: whitesmoke;
    color: var(--cor03);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidade .especialidade-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--deg2);
}

.especialidade .especialidade-box i {
    font-size: 70px;
    color: var(--cor01);
}

.especialidade .especialidade-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* FIM ESTILOS DAS ESPECIALIDADES*/

/* ESTILO DO SOBRE*/
section.sobre {
    background-color: var(--cor06);
    box-shadow: 0 0 10px var(--cor01);
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--cor01);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor01);
    font-size: 30px;
    cursor: pointer;
    margin: 0px 5px;
    transition: .2s;
}

/*FIM ESTILOS DAS ESPECIALIDADES*/

/*ESTILO DO RODAPE*/
footer {
    padding: 10px 4%;
    box-shadow: 0 0 40px 10px var(--cor06);
}

footer .flex {
    align-items: center;
    justify-content: space-between;
}

footer .line-footer {
    padding: 10px;
}

footer .line-footer p i {
    color: var(--cor01);
    font-size: 30px;
}

.borda {
    border-top: 2px solid var(--cor01);
}

footer .line-footer h3 {
    color: white;
    align-items: center;
    text-align: center;
    gap: 4px;
}

footer .line-footer .pix {
    color: white;
    font-size: 40px;
    align-items: center;
    text-align: center;
    gap: 4px;
}

footer .line-footer .valor {
    color: white;
    align-items: center;
    text-align: center;
}

footer .line-footer p span {
    color: #408AF5;
}

footer .line-footer p i {
    font-size: 40px;
}

/*ESTILO DO RODAPE*/


@media screen and (max-width: 1020px) {

    section.topo-do-site .atend p{
        font-size: 16px;
    }

    /*CLASSE GERAL*/
    .flex {
        flex-direction: column;
    }
    .imglogo {
        display: none;
    }

    .imglogo2 {
       margin-top: -30px;
       padding: auto;
       display: block;
       width: 100%;
       text-align: center;
    }
    .topo-do-site .img-top-site img {
        display: none;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 40px;
    }

    .logoparoquia{
        font-size: 20px;
        color: var(--cor01);    
        text-align: center;
        text-transform: uppercase;
        gap: 4%;
    }

    /*CABEÇALHO*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /*TOPO SITE*/
    section.topo-do-site .flex {
        gap: 90px;
    }

    section.topo-do-site {
        max-width: 1380px;
        margin: 0 auto;
        padding: 20px 4%;
    }

    .topo-do-site h1 {
        font-size: 30px;
        line-height: 35px;
    }
   

    /* ESPECIALIDADES*/
    section.especialidade {
        padding: 30px 4%;
    }

    /*SOBRE*/
    section.sobre {
        padding: 30px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
        margin-top: -10px;
    }    
    .btn-social {
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
        height: 80%;
    }

    footer .line-footer .pix {
        font-size: 25px;
        align-items: center;
        text-align: center;
        gap: 4px;
    }
    footer .line-footer .valor {
        font-size: .8em;
    }
    .especialidade .especialidade-box h3 {
        font-size: 23px;
        margin: 10px 0;
        color: var(--cor03);
    }
    .especialidade .especialidade-box p strong{
        color: var(--cor01);
    }

    .especialidade .especialidade-box p{
        color: var(--cor03);
        font-size: 1.2em;
    }

    section.especialidade .flex {
        gap: 10px;
    }
}