@charset "UTF-8";

:root {
    --cor01: #418EF2;
    --cor02: #224D73;
    --cor03: #011624;
    --cor04: #E2DEBF;
    --cor05: #825834;
    --cor06: #f2f2f2;
    --cor07: #aab0b8;
    --cor08: #ffffff;
    --cor09: #000000;

    /* degrade*/
    --deg1: #02182A;
    --deg2: #408AF5;
    --deg3: #0B2042;
}
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;   
}

body{
    background-color: #0B2042;
    padding: 1%;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
    justify-content: center;   
}

details {
    width: 100%;
    max-width: 600px ;

}

section details summary{
    background-color:var(--cor04);
    padding: 5%;
    border-bottom: 2px solid var(--cor01);
    color: var(--cor09);
    font-weight:600;
    font-size: 1.8em;
    text-align: center;
}

section details p {
    background-color: var(--cor08);
    color: var(--cor09);
    padding: 2%;
    font-size: 1.6em;
}

.img{
    display: block;
    margin: auto;
    max-width: 200px;
}

h1{
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 1px 50px 0px;
    text-transform: uppercase;
    }
    
h2 {
        display: block;
        text-align: center;
        padding: 5px 1px 50px 0px;
                }
.container{
    padding: .98rem;
    margin: auto;
    max-width: 1200px;
    background-color: var(--cor01);
    color: var(--cor08);
    border-radius: 20px;
}
.caixa{
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;
    font-size: 1.12rem;
}
.caixa input{
    border: none;
    padding: .80rem;
    border-radius: .45rem;
    font-size: 1.2em;
}

.usuario{
    text-align: center;
    margin: auto;
    margin: 30px 0px -30px 0px;
}


input[type="submit"]{
    margin-top: 30px;
    background-color: var(--cor02);
    font-weight: bold;
    color: var(--cor08);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--deg3);
}


@media screen  and (min-width:800px){
    .container form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }   
}


@media screen  and (min-width:1000px){
    .container form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}