@charset "UTF-8";

:root {
    --cor01: #418EF2;
    --cor02: #224D73;
    --cor03: #011624;
    --cor04: #E2DEBF;
    --cor05: #825834;
    --cor06: #f2f2f2;
    --cor07: #aab0b8;
    --cor08: #ffffff;
    /* degrade*/
    --deg1: #02182A;
    --deg2: #408AF5;
    --deg3: #0B2042;
}
html{
    scroll-behavior: smooth;
}
.flex {
    display: flex;
}

/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: var(--deg1);
}

body {
    background-color: var(--cor03);
    height: 100vh;
}

.imglogo {
    width: 200px;
    border: 0;
    box-shadow: 6px var(--cor01);
    border-radius: 30px;
}

.imglogo2 {
    display: none;  
}

.logoparoquia{
    color: var(--cor08);    
    text-align: center;
    text-transform: uppercase;
    gap: 4%;
    }
    
.avisos{
    color: var(--deg2);
    display: block;
    text-align: center;
    max-width: 1380px;
    margin: auto;
    padding: 20px 50px;
    background-color: var(--cor02);
}    
.avisos h1{
    text-transform: uppercase;
    
    }

.avisos p{
    color:var(--cor08) ;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
    text-indent: 30px;
}
 
.diocese {
    font-size: 1.2em;
        color: var(--cor07);    
        text-align: center;
        text-transform: uppercase;
        gap: 4%;
 }

.contatoparoquia{
    color: var(--cor04);    
    text-align: center;
    gap: 4%;
}
.mapa {
    text-decoration: none;
    text-align: center;
    gap: 4%;
}

.contatoparoquia strong{
    color: var(--cor06);   
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18;
    font-weight: 600;
    background-color: var(--cor01);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: var(--cor03);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--cor01);
}


button:hover {
    border-bottom: 0px 0px 10px var(--deg2);
    transform: scale(1.05);
}

/* FIM ESTILO GERAL*/

/* ESTILO DO CABEÇALHO */
header {
    padding: 30px 4%;
    padding-bottom: 10px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--cor01);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 8px;
}

/* FIM ESTILO DO CABEÇALHO */


/*Inicio menu-mobile*/

.menu-mobile {
    text-align: center;
}
.material-icons {
    font-size: 50px;
    color: var(--cor01);
}


i#burguer:hover {
    background-color: var(--cor05);
    color: var(--cor03);
}

menu {
    display: none;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor02);
    color: var(--cor04);
    border-top: 2px solid var(--deg3);
}

menu > ul > li > a:hover {
    background-color: var(--cor01);
} 

.menu-mobile {
    display: none;
}


/*Fim menu-mobile*/


/* ESTILO DO TOPO DO SITE*/
section.topo-do-site {
    background-color: var(--cor06);
    box-shadow: 0 0 10px var(--cor01);
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: var(--cor03);
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--deg2);
}

.topo-do-site .txt-topo-site p {
    font-size: 18px;
    margin: 40px 0;
    text-align: justify;
    text-indent: 30px; 
}

.topo-do-site .img-top-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 30px;
    }
}

/* FIM ESTILO DO TOPO DO SITE*/

/* ESTILOS DAS ESPECIALIDADES*/
section.especialidade {
    background-color: var(--cor06);
    box-shadow: 0 0 10px var(--cor01);
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px 0%;
}

section.especialidade .flex {
    text-align: center;
    gap: 60px;
}

.especialidade .especialidade-box {
    background-color: whitesmoke;
    color: var(--cor03);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidade .especialidade-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--deg2);
}

.especialidade .especialidade-box i {
    font-size: 70px;
    color: var(--cor01);
}

.especialidade .especialidade-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* FIM ESTILOS DAS ESPECIALIDADES*/

/* ESTILO DO SOBRE*/
section.sobre {
    background-color: var(--cor06);
    box-shadow: 0 0 10px var(--cor01);
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 10px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--cor01);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor01);
    font-size: 30px;
    cursor: pointer;
    margin: 0px 5px;
    transition: .2s;
}

/*FIM ESTILOS DAS ESPECIALIDADES*/

/*ESTILO DO RODAPE*/
footer {
    padding: 10px 4%;
    box-shadow: 0 0 40px 10px var(--cor06);
}

footer .flex {
    align-items: center;
    justify-content: space-between;
}

footer .line-footer {
    padding: 10px;
}

footer .line-footer p i {
    color: var(--cor01);
    font-size: 30px;
}

.borda {
    border-top: 2px solid var(--cor01);
}

main .mapa { 
    padding: 1px;
    margin: auto;  
    display: block;
    text-align: center;
    max-width: 1380px;
}

footer .line-footer h3 {
    color: white;
    align-items: center;
    text-align: center;
    gap: 4px;
}

footer .line-footer .pix {
    color: white;
    font-size: 40px;
    align-items: center;
    text-align: center;
    gap: 4px;
}

footer .line-footer .valor {
    color: white;
    align-items: center;
    text-align: center;
}

footer .line-footer p span {
    color: #408AF5;
}

footer .line-footer p i {
    font-size: 40px;
}

footer.agendacatolica {
   align-items: center;
    text-align: center;
    gap: 4px;
}
footer .logo-footer img{
    border-radius: 20%;
}

.logo-footer .Padroeira{
    color: var(--cor08);
}

/*button flutuante*/
.button{
    display: flexbox;
    background-color: #408bf500;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 330px;
    width: 50px;
    height: 130px;
    padding: 2px 2px 1px 2px;
    
    }
.button img {
padding: 2px 2px 1px 2px;
width: 80%;
align-items: center;
text-align: center;
gap: 4%;
}
.button i{
    color: var(--cor04);
    font-size: 30px;
}
.button i:hover{
    color: var(--deg2);    
}
/*button flutuante*/


/*ESTILO DO RODAPE*/

@media screen and (max-width: 1020px) {

    /*CLASSE GERAL*/
    .flex {
        flex-direction: column;
    }
    .imglogo {
        display: none;
    }

    .imglogo2 {
       margin-top: -30px;
       padding: auto;
       display: block;
       width: 100%;
       text-align: center;
    }
/*------------------ Avisos Paroquiais --------------------------*/
.avisos{    
    padding: 20px 10px;    
}

.avisos h1{
    font-size: 1.5em;
    }

.avisos p{
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
    text-indent: 30px;
    margin: auto;
    gap: 2%;
}

    .topo-do-site .img-top-site img {
        display: none;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 40px;
    }

    .logoparoquia{
        font-size: 20px;
        color: var(--cor08);    
        text-align: center;
        text-transform: uppercase;
        gap: 4%;
    }
    .diocese {
        font-size: 1em;
        
     }
    /*CABEÇALHO*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /*TOPO SITE*/
    section.topo-do-site .flex {
        gap: 90px;
    }

    section.topo-do-site {
        max-width: 1380px;
        margin: 0 auto;
        padding: 20px 4%;
    }

    .topo-do-site h1 {
        font-size: 25px;
        line-height: 35px;
    }
   

    /* ESPECIALIDADES*/
    section.especialidade {
        padding: 30px 4%;
    }

    /*SOBRE*/
    section.sobre {
        padding: 30px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
        margin-top: -10px;
    } 
    
    .btn-social button {
        display: inline;        
    }
    .btn-social{
        text-align: center;
    }
  
    .img-sobre img{
        width: 100%;
        height: 80%;
    }

    footer .line-footer .pix {
        font-size: 25px;
        align-items: center;
        text-align: center;
        gap: 4px;
    }
    footer .line-footer .valor {
        font-size: .8em;
    }

   footer .logo-footer img{
        display: none;        
    }

    .logo-footer .Padroeira{
        display: none;
    }
  
    .especialidade .especialidade-box h3 {
        font-size: 23px;
        margin: 10px 0;
        color: var(--cor03);
    }
    .especialidade .especialidade-box p strong{
        color: var(--cor01);
    }

    .especialidade .especialidade-box p{
        color: var(--cor03);
        font-size: 1.2em;
    }

    section.especialidade .flex {
        gap: 10px;
    }
    button {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
}