@charset "UTF-8";

:root {
    --cor01: #418EF2;
    --cor02: #224D73;
    --cor03: #011624;
    --cor04: #E2DEBF;
    --cor05: #825834;
    --cor06: #f2f2f2;
    --cor07: #aab0b8;
    --cor08: #ffffff;
    --cor09: #000000;
    /* degrade*/
    --deg1: #02182A;
    --deg2: #408AF5;
    --deg3: #0B2042;
}
html{
    scroll-behavior: smooth;
}

/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor03);
}

main{
    background-color: var(--cor06);
}
h1{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: var(--cor03);
}

h3{
    padding: 10px;
    text-align: center;
    color: var(--cor03);
}

p{
    color: var(--cor09);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 30px;
    margin: 10px 10px 10px 10px; 
    
}

main {
   max-width: 1380px;
   display: block;
   justify-content: center;
   text-align: center;
   margin: auto;
   
}

main img {
   width: 40%;
}

.sobre-nsap {
    max-width: 900px;
    display: block;
   justify-content: center;
   text-align: center;
   margin: auto;

}

footer{
    background-color: var(--cor09);
    display: block;
    text-align: center;
}
.rodape button{
    font-size: 30px;
    padding: 10px;
    width: 200px;
    height: 50px;
    background-color: #418EF2;
    border: none;
}

@media screen and (max-width: 1020px) {
    p{
        padding: 10px;
        color: var(--cor09);
        font-size: 1.2em;
        text-align: justify;
        text-indent: 30px;
        margin: 15px;
    }
    .rodape button{
        font-size: 30px;
        padding: 10px;
        width: 50%;
        height: 50px;
        background-color: #418EF2;
        margin-bottom: 30px;
        border-radius: 50px;
    }
    
}

